.feed {
  border-radius: 24px;
  padding: 11px;
  background-color: white;
  box-shadow: 0px 8px 18px 0px rgba(168, 178, 198, 0.45);
}

.feed--header {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.feed--header__like {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  gap: 3px;
}

.feed--location {
  font-size: 12px;
  font-weight: 300;
  color: #7d848d;
  line-height: 24px;
  margin-left: 20px;
  display: flex;
}
