.blur-bg-center {
  position: relative;
  width: 500px;
  height: 500px;

  &:after {
    content: "";
    flex-shrink: 0;
    border-radius: 500px;
    background: radial-gradient(50% 50% at 50% 50%, #3b89e2 0%, #b1d0f3 100%);
    filter: blur(100px);
    width: 500px;
    height: 500px;
    position: absolute;
    border: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &:before {
    content: "";
    flex-shrink: 0;
    border-radius: 407px;
    background: radial-gradient(50% 50% at 50% 50%, #62a1e8 0%, #b1d0f3 100%);
    filter: blur(100px);
    width: 407px;
    height: 407px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
  }
}

/* to do : 수정이 필요합니다. */
.blur-bg-left {
  position: relative;
  width: 462px;
  height: 462px;
  &:before {
    content: "";
    flex-shrink: 0;
    border-radius: 462px;
    background: radial-gradient(50% 50% at 50% 50%, #3b89e2 0%, #b1d0f3 100%);
    filter: blur(100px);
    width: 462px;
    height: 462px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, 5%);
  }
  &:after {
    content: "";
    flex-shrink: 0;
    border-radius: 407px;
    background: radial-gradient(50% 50% at 50% 50%, #62a1e8 0%, #b1d0f3 100%);
    filter: blur(150px);
    width: 407px;
    height: 407px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
  }
}

/* to do : 수정이 필요합니다. */
.blur-bg-login {
  position: relative;
  &:before {
    content: "";
    background-image: radial-gradient(circle, #5197e7, #89b6e9);
    filter: blur(100px);
    width: 450px;
    height: 450px;
    position: absolute;
    transform: translate(-46%, -73%);
  }
  &:after {
    content: "";
    background-image: radial-gradient(circle, #62a1e8, #b1d0f3);
    width: 250px;
    height: 250px;
    filter: blur(100px);
    position: absolute;
    transform: translate(-47%, 25%);
  }
}
