.blurTop {
  position: relative;
}

.blurTop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 462.11px;
  height: 456.68px;
  background: radial-gradient(circle, #3b89e2 100%, #b1d0f3 100%);
  border-radius: 50%;
  filter: blur(150px);
  z-index: 0;
}

.reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menubox > :first-child::after {
  content: "";
  height: 24px;
  width: 1px;
  background-color: #b4b8c9;
  opacity: 40%;
}

.category--glassbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 705px;
  max-width: 705px;
  background-color: rgba(99, 161, 232, 0.24);
  border-radius: 16px;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form--button {
  height: 28px;
  padding: 0px 17px;
  border-width: 1.5px;
  border-radius: 5px;
  border-color: #306eb5;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  color: #306eb5;
  line-height: 28px;
}

.form--button:hover {
  background-color: #d8e7f9;
}
