@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

/* 글꼴 크기별 */
.pretendard14 {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: normal; /* 필요한 경우 bold로 변경 */
}

.pretendard16 {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.pretendard20 {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: bold; /* 강조 텍스트용 */
}

.pretendard24 {
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.pretendard36 {
  font-family: "Pretendard", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.8; /* 큰 텍스트는 더 넓은 줄 간격 */
}

.rubik-bubbles {
  font-family: "Rubik Bubbles", serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
}
/* 컬러칩 */
