.courseEditorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
  box-sizing: content-box;
  margin-top: 38px;
}

.courseEditorContainer::before {
  content: "";
  position: absolute;
  top: 38px; /* 첫 번째 요소에서 38px 떨어진 곳에서 시작 */
  left: 50%;
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  height: calc(100% - 76px); /* 전체 높이에서 상단,하단의 38,38 제외 */
  border-left: 2px dashed #007bff;
  z-index: -1;
  width: 0;
}
